<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Week actions</title>
	<link type="text/css" href="/static/style.css"> </link>
</head>
<body>
    <input type="date">
    <ul id="action">
    {% for action in actions %}
        <li>{{ action.name }}, {{ action.freq }}</li>
    {% endfor %}
    </ul>
	<a href="/addaction">add action</a>
	  <form method="post">
		<input type="text" id="name" name="name"><label>Action</label>
		<br/>
		<input type="text" id="freq" name="freq"><label>Freq</label>
		<br/>
		<button>ADD</button>
	  </form>
</body>
</html>
